.hero-img-bg {
  background-image: url("./assets/hero-img.png");
  background-size: contain;
  height: auto;
  background-repeat: no-repeat;
  padding-top: 48%;
  margin-left: 25px;
  margin-right: 25px;
  max-width: 440px;
}

.box-grid {
  display: grid;
  gap: 16px;
  /* justify-content: center; */
}

.box {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  /* width: 326px; */

  height: 272px;
}

.icon {
  font-size: 24px;
  margin-bottom: 8px;
  align-self: flex-start; /* Align the icon to the top left */
}

/* Media queries for responsiveness */
@media (min-width: 1000px) {
  .box-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 columns when screen width >= 600px */
  }
}

@media (min-width: 1380px) {
  .box-grid {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* 4 columns when screen width >= 1000px */
  }
}

.carousel-box {
  width: 336px !important; /* Fixed width */
  height: 144px !important; /* Fixed height */
  background-color: #ccc; /* Gray background */
  border-radius: 8px; /* Rounded corners */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box; /* Ensure padding does not affect width/height */
  transition: margin 0.3s ease; /* Smooth transition for margin change */
}

.carousel-box h3 {
  margin: 0 0 8px 0; /* Spacing for title */
  font-size: 18px;
}

.carousel-box p {
  margin: 0; /* No margin for paragraph */
  font-size: 14px;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-initialized {
  height: 178px !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

.swiper-slide-active {
  margin-left: 16px !important; /* Add left margin to the active slide */
}

.swiper-slide-prev {
  margin-right: 20px !important;
}